.header {
  margin-bottom: var(--space-6);
}

.title {
  margin: 0 0 var(--space-1) !important;
  font: var(--font-display) !important;
}

@media (max-width: 575px) {
  .header {
    align-items: stretch;
    flex-direction: column;
    margin-bottom: var(--space-4);
  }
}
